---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Page" description="the about page">
  <Main>
    <H1 text="About Page" />
  </Main>
</Layout>
