---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import { getCollection } from 'astro:content';
import { Picture, getImage } from 'astro:assets';
// import bgHome from "../images/bg-home.png";
// import bgHome from "../images/bg-home-2.png";
import bgHome from '../images/bg-home-2.webp';
import { Image } from 'astro:assets';
import aboutMechanics from '../images/about-mechanics.png'; // 365x365 @176kb
import aboutPricing from '../images/about-pricing.png'; // 365x365 @107kb
import aboutPromise from '../images/about-promise.png'; // 365x365 @196kb

import myImage1 from '../images/500/300/funsplash-4qjqR9g8OV.jpg';
const myImageBG1 = await getImage({ src: myImage1, format: 'webp' });

import myImage2 from '../images/500/300/funsplash-4b4hY6PpxN.jpg';
const myImageBG2 = await getImage({ src: myImage2, format: 'webp' });

// data method 1: local frontmatter data
const data1 = ['Isabella', 'Olivia', 'Dad'];

// data method 3: import local files
import moviesJson from '../data/movies.json';
import carsJson from '../data/cars.json';
import HeroHome from '../components/HeroHome.astro';
const sortedData = moviesJson.sort((a, b) => a.year - b.year);
function joinWithAnd(arr: string[]) {
  if (arr.length === 0) {
    return '';
  } else if (arr.length === 1) {
    return arr[0];
  } else if (arr.length === 2) {
    return arr.join(' and ');
  } else {
    const last = arr.pop();
    return `${arr.join(', ')}, and ${last}`;
  }
}

// data method 4: content collections
const testColl = await getCollection('test');

// console.log("🚀 ~ file: test.astro:39 ~ testColl:", testColl);
---

<Layout title="Test" description="a page for testing things">
  <Main>
    <HeroHome />
    <div class="bg-zinc-900 pb-12 w-full">
      <h2
        class="text-5xl md:text-6xl lg:text-7xl font-bold text-sky-600 text-center py-12 leading-tight"
      >
        About Us
      </h2>
      <section
        class="flex flex-col md:flex-row items-center md:items-start justify-between container mx-auto"
      >
        <div class="flex flex-col w-full items-center justify-start mx-4">
          <h3
            class="text-2xl md:text-3xl lg:text-4xl font-semibold py-12 text-white text-center"
          >
            Experienced Mechanics
          </h3>
          <Image
            class="drop-shadow-[0_0_15px_rgba(120,120,120,0.75)] pb-8"
            src={aboutMechanics}
            alt="Experienced Mechanics"
          />
          <p
            class="text-lg md:text-xl lg:text-2xl text-white/80 mx-4 text-center leading-relaxed border-b-2 border-white/50 pb-8 md:border-b-0"
          >
            The mechanics at our shop have over 15 years of experience between
            them. We specialize on Subaru vehicles. We are dedicated to
            providing high-quality performance upgrade and repairs to keep you
            safe and happy.
          </p>
        </div>
        <div class="flex flex-col w-full items-center justify-start mx-4">
          <h3
            class="text-2xl md:text-3xl lg:text-4xl font-semibold py-12 text-white text-center"
          >
            Competitive Pricing
          </h3>
          <Image
            class="drop-shadow-[0_0_15px_rgba(120,120,120,0.75)] pb-8"
            src={aboutPricing}
            alt="Competitive Pricing"
          />
          <p
            class="text-lg md:text-xl lg:text-2xl text-white/80 mx-4 text-center leading-relaxed border-b-2 border-white/50 pb-8 md:border-b-0"
          >
            Whether you're coming in for a routine inspection or a repair
            service, we promise that you will be completely satisfied with our
            work.
          </p>
        </div>
        <div class="flex flex-col w-full items-center justify-start mx-4">
          <h3
            class="text-2xl md:text-3xl lg:text-4xl font-semibold py-12 text-white text-center"
          >
            Our Quality Promise
          </h3>
          <Image
            class="drop-shadow-[0_0_15px_rgba(120,120,120,0.75)] pb-8"
            src={aboutPromise}
            alt="Our Quality Promise"
          />
          <p
            class="text-lg md:text-xl lg:text-2xl text-white/80 mx-4 text-center leading-relaxed"
          >
            Whether you're coming in for a routine inspection or a repair
            service, we promise that you will be completely satisfied with our
            work.
            <a href="#" class="animated-underline">Hover over me 01</a>
          </p>
        </div>
      </section>
    </div>
  </Main>
</Layout>

<style>
  .animated-underline {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    color: #fff;
  }

  .animated-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: blue;
    transition: transform 0.3s ease;
  }

  .animated-underline:hover::after {
    transform: scaleX(1);
  }
</style>
