---
import Newsletter from "./Newsletter.astro";
import bgSubscribe from "../images/bg-subscribe.png";
---

<section
  id="footer"
  class="py-12 w-full bg-no-repeat bg-center bg-cover"
  style={`background-image: url(${bgSubscribe.src});`}
>
  <div
    class="max-w-4xl mx-auto flex flex-col items-center justify-center p-4 lg:p-0"
  >
    <div class="w-full mb-12">
      <h2
        class="text-3xl md:text-4xl lg:text-5xl font-bold text-white bg-gray-400/50 text-center p-4 md:p-6 lg:p-8 leading-tight"
      >
        Subscribe
      </h2>
      <h3
        class="text-lg md:text-xl lg:text-2xl font-normal text-white bg-sky-600/50 text-center p-4 font-body"
      >
        Sign up to hear from us about specials, sales, and events.
      </h3>
    </div>
    <div class="flex flex-col lg:flex-row w-full items-center">
      <div class="w-1/2 lg:w-3/4">
        <label for="email">
          <input
            class="w-full border-0 accent-sky-600 outline-sky-600 bg-zinc-500/50 placeholder-white text-center lg:text-left lg:text-base h-12 md:h-16 text-white"
            name="email"
            id="email"
            autocomplete="email"
            type="text"
            placeholder="Email Address"
            onfocus="this.placeholder=''"
          />
        </label>
      </div>
      <button
        class="w-1/2 lg:w-1/4 bg-sky-600 text-white font-bold tracking-wider text-center capitalize rounded-none lg:text-base h-12 md:h-16 p-0 lg:p-4"
        >sign up</button
      >
    </div>
  </div>
</section>

<footer class="bg-zinc-800 border-t-2 border-white py-12">
  <div
    class="container mx-auto flex flex-col lg:flex-row items-center justify-center text-white/80"
  >
    <p
      class="text-base md:text-lg lg:text-xl w-full lg:w-1/2 text-center lg:text-left"
    >
      Copyright © 2023 Rigo Built Garage, LLC <br class="hidden lg:block" />
      <span class="inline lg:hidden"> -</span>
       All Rights Reserved.
    </p>
    <p class="flex flex-row py-8 lg:p-0 space-x-8 lg:space-x-4 lg:w-1/4">
      <svg
        class="w-8 h-8 text-white inline"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z"
        ></path></svg
      >

      <svg
        class="w-8 h-8 text-white inline"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
        ></path></svg
      >
    </p>
    <p class="w-full lg:w-1/4 text-center lg:text-right">
      Powered by 91 Octane &amp; Go Fast Parts
    </p>
  </div>
</footer>
