---
const pathName = new URL(Astro.request.url).pathname;
const currentPath = pathName.slice(1);
---

<!-- <nav class="grid grid-cols-1 place-items-center bg-white h-20 px-8"> -->
<nav
  class="grid grid-cols-1 lg:grid-cols-2 place-items-center bg-zinc-900 text-white h-28 lg:h-20 px-8"
>
  <h1 class="text-3xl uppercase">
    <a href="/" title="Rigo Built Garage - HOME">
      <svg
        class="inline-block mr-0 fill-sky-600"
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="15" cy="15" r="15"></circle>
      </svg>
       Rigo Built Garage
    </a>
  </h1>
  <ul class="w-full flex justify-between pr-8">
    {
      ["", "blog", "about", "contact", "gallery", "test"].map((page) => (
        <li class="inline ml-auto text-lg md:text-xl lg:text-2xl capitalize">
          <a
            class={
              currentPath === page
                ? "text-sky-600 font-bold border-b-2 border-sky-600"
                : "hover:text-sky-600 duration-200"
            }
            href={`/${page}`}
          >
            {page || "Home"}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .active {
    @apply text-sky-600;
  }
</style>
