---
import { getCollection } from 'astro:content';
type Props = {
  page: number;
  numberOfPosts: number;
};

const { page, numberOfPosts } = Astro.props;
// const postsPerPage = 4;
const postsPerPage = Number(import.meta.env.POSTS_PER_PAGE);
const hasPreviousPosts = page > 1;
const hasNextPosts = numberOfPosts > page * postsPerPage;
---

<div class="flex justify-between">
  {
    hasPreviousPosts ? (
      <a
        class="text-lg md:text-xl lg:text-2xl font-bold border-2 border-white text-white tracking-wider capitalize bg-sky-600 hover:bg-sky-800 text-center p-4 font-body transition-colors duration-300"
        href={`?page=${page - 1}`}
      >
        <svg
          class="inline-block mr-2 -scale-x-[1]"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m6.05 19l5-7l-5-7H8.5l5 7l-5 7H6.05ZM12 19l5-7l-5-7h2.45l5 7l-5 7H12Z"
          />
        </svg>
        Previous
      </a>
    ) : (
      <div />
    )
  }

  {
    hasNextPosts ? (
      <a
        class="text-lg md:text-xl lg:text-2xl font-bold border-2 border-white text-white tracking-wider capitalize bg-sky-600 hover:bg-sky-800 text-center p-4 font-body transition-colors duration-300"
        href={`?page=${page + 1}`}
      >
        Next
        <svg
          class="inline-block ml-2"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m6.05 19l5-7l-5-7H8.5l5 7l-5 7H6.05ZM12 19l5-7l-5-7h2.45l5 7l-5 7H12Z"
          />
        </svg>
      </a>
    ) : (
      <div />
    )
  }
</div>
