---
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";

const message = Astro.url.searchParams.get("message");
---

<Layout
  title="Newsletter Failure"
  description="Failure message for newsletter subscription">
  <Main>
    <p class="text-center pt-12 text-2xl">{message || "Subscription error"}</p>
  </Main>
</Layout>
